<!DOCTYPE html>
<html>
<head>
  <title>Songify</title>
  <link rel="stylesheet" href="css/main.css">
  <style>
    input{
      margin-top: 7px;
    }
  </style>
</head>
<body>

  <div class="main-wrapper">
    <h1><a href="/albums">Songify</a></h1>
    <h3><a href="/playists">Playlists</a></h3> 
    <p><%= @playlist_id %></p>
  </div>
</body>
</html>